<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP Project - Udacity - Evaluate News Article</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <h1>evaluate-news</h1>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="#">Analyze Article</a></li>
          <li><a href="#">About NLP</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="form-section">
        <form
  id="urlForm"
  method="post"
  onsubmit="return Client.formHandler(event)"
>

          <input
            id="url"
            type="text"
            name="url"
            placeholder="Enter URL"
            required
          />
          <button id="submitButton" type="submit">Analyze</button>
        </form>
      </section>

      <section>
        <p id="error"></p>
      </section>
      <section class="results">
        <strong>Form Results:</strong>
        <div id="score_tag"></div>
        <div id="agreement"></div>
        <div id="subjectivity"></div>
        <div id="confidence"></div>
        <div id="irony"></div>
      </section>
      
    </main>

    <footer>
      <p>raneen-jubahi2024</p>
    </footer>
  </body>
</html>
