.nav-buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;

    li {
        margin: 0 10px;

        button {
            padding: 10px 20px;
            background-color: #007BFF; /* لون الزر الرئيسي */
            color:#016538;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: #0056b3; /* لون الزر عند التحويم */
                transform: scale(1.05); /* تكبير الزر عند التحويم */
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* تحديد الزر عند التركيز */
            }

            &:active {
                transform: scale(0.95); /* تصغير الزر قليلاً عند الضغط */
            }
        }
    }
}
