/* إعدادات أساسية */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #016538, #ffffff); /* خلفية بتدرج لوني */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(22, 21, 21, 0.866);
  color: #016538;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .logo h1 {
  margin: 0;
  font-size: 24px;
}

header .navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header .navigation ul li {
  margin: 0 15px;
}

header .navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #016538;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header .navigation ul li a:hover {
  background-color: rgb(244, 11, 11);
  transform: translateY(-3px); /* تأثير حركة الزر عند التحويم */
}

main {
  flex: 1;
  padding: 20px;
  max-width: 800px; /* تحديد أقصى عرض للصفحة */
  margin: 20px auto; /* توسيط المحتوى */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-section {
  width: 100%;
  max-width: 600px; /* تحديد أقصى عرض للنموذج */
  margin: 0 auto;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* تأكيد ملء عرض العنصر */
}

.form-section input[type="text"] {
  width: 100%;
  max-width: 600px; /* تحديد أقصى عرض للحقل */
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-section button {
  width: 100%;
  max-width: 600px; /* تحديد أقصى عرض للزر */
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-section button:hover {
  background-color: #218838;
  transform: translateY(-3px); /* تأثير حركة الزر عند التحويم */
}


#results {
  display: flex;
  flex-direction: column;
  gap: 10px; /* تباعد بين العناصر */
}

#results div {
  display: none; /* إخفاء العناصر بشكل افتراضي */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
#error {
  background-color: #b11a2c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

footer {
  background-color: #000000;
  color: #016538;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}




